.app__achievements {
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.app__achievements__headingtext {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.app__achievements .app__achievements__headingtext span:nth-child(1) {
    font-size: 3.1rem;
    font-weight: 600;
    color: var(--color-black);
    letter-spacing: 2px;
    font-family: var(--font-base);
}

.app__achievements .app__achievements__headingtext span:nth-child(2) {
    font-size: 2.5rem;
    color: var(--color-black);
    letter-spacing: 1px;
    font-weight: 600;
}

.app__achievements__content__images {
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.swiper-wrapper {
    margin-top: 3rem;
    overflow: visible !important ;
}

.swiper-slide {
    width: 20rem;
    border-radius: 1.5rem;
}

.swiper-slide img {
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.app__achievements__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__achievements__img img {
    width: 80px;
}

.app__achievements__content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.app__achievements__subtext {
    justify-content: center;
    align-items: center;
}

.app__achievements__subtext h1 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.app__achievements__subtext p {
    font-size: 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}


/* BreakPoints */
@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 650px) {
    .app__achievements {
        margin: 0;
    }

    .swiper-container {
        width: 650px;
    }

    .app__achievements__content__images {
        padding: 0;
    }

    .app__achievements .app__achievements__headingtext span:nth-child(1) {
        font-size: 30px;
    }

    .swiper-wrapper {
        margin-top: 2rem;
    }

    .swiper-slide img {
        width: 150px;
    }
}

@media screen and (max-width: 300px) {
    .app__achievements {
        margin: 0;
    }
    
    .app__achievements .app__achievements__headingtext span:nth-child(1) {
        font-size: 12px;
    }
}


