:root {
  --font-base: 'Playfair Display', serif;
  --font-alt: 'Roboto', sans-serif;

  --color-golden: #DCCA87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

