:root {
  --font-base: 'Playfair Display', serif;
  --font-alt: 'Roboto', sans-serif;

  --color-main : #101522;
  --color-golden: #DCCA87;
  --color-crimson: #f5efdb;
  --color-black: #050402;
  --color-gray: #545454;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}


.slide__bottom {
  --webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0450, 0.940) both;
           animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* @-webkit-keyframes slide__bottom {
  0% {
    --webkit-transform: translateY(-25%);
             transform: translateY(-25%);
  }

  100% {
    --webkit-transform: translateY(0);
             transform: translateY(0);
  }
} */

@keyframes slide-bottom {
  0% {
    --webkit-transform: translateY(-25%);
             transform: translateY(-25%);
  }

  100% {
    --webkit-transform: translateY(0);
             transform: translateY(0);
  }
}
