.app__backtotop {
    color: var(--color-white);
    width: 2rem;
    height: 2rem;
    position: fixed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 350px;
    
}